.cover-img-about-me{
   height: 500px;
    background-image: url(../imgs/about-me-cover.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 121px;
}

.cover-img-services{
   height: 500px;
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(../imgs/services-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 121px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


    h1{
        font-size: 6rem;
        color: white;
    }
}

.intro-page-section{
    margin-top: 120px;

    .intro-page-article{
        width: 60%;
        margin: 0 auto;
        padding-bottom: 40px;
        h1{
            text-align: center;
            font-size: 40px;
            font-weight: 300;
        }

        h2{
            font-size: 30px;
            font-weight: 300;
        }

        h3{
            font-size: 25px;
            font-weight: 300;
        }
        p{
            font-size: 1.9rem;
            font-weight: 300;

        }
    }
   
}