@media (min-width:1025px) and (max-width: 1440px){
    .blog-grid {
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 1fr;
    }

    .site-header .menu-wraper .main-menu .list-item .link-item:link, .site-header .menu-wraper .main-menu .list-item .link-item:visited {
        text-decoration: none;
        text-transform: capitalize;
        color: #818181;
        font-size: 1.8rem;
        padding: 10px 10px;
        transition: all .2s;
        border-radius: 8px;
    }
}