
@media (min-width:1025px) and (max-width: 1440px){

    .site-header .bottom-header .quota {
        display: inline-block;
        color: white;
        background-color: #ff7f2f;
        padding: 10px 30px;
        position: absolute;
        right: 13%;
        top: 50%;
        transform: translateY(-50%) translateX(-15%);
        font-size: 1.4rem;
        text-decoration: none;
        border-radius: 20px;
        transition: all .3s;
    }

    .gt_switcher_wrapper {
        position: fixed;
        top: 70px !important;
        right: 4% !important;
        z-index: 999999;
    }


  
}

@media (min-width:1182px) and (max-width: 1277px){
    .about-intro__wraper {
        width: 95%;
        margin: 0 auto;
        display: flex;
    }
    .about-intro__left {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 50%;
    }

    .about-intro__right {
        width: 50%;
        align-self: center;
        text-align: left;
    }
    .about-intro__left > img {
        margin: 2.5px 10px;
        border-radius: 1rem;
        align-self: stretch;
        transition: all 1s;
        box-shadow: 10px 10px 49px 6px rgba(0, 0, 0, 0.14);
        -webkit-box-shadow: 10px 10px 49px 6px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 10px 10px 49px 6px rgba(0, 0, 0, 0.14);
    }

    .about-intro__left .img-lg {
        width: 200px;
        height: 250px;
    }
    
    .about-intro__left .img-sm {
        width: 224px;
        height: 250px;
    }

    .about-intro__right p {
        font-size: 1.4rem;
        width: 85%;
    }

    .about-intro__right h4 {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 0;
        width: 90%;
        line-height: 3rem;
    }

    .budges {
        height: 180px;
        width: 95%;
        margin: 0 auto;
        background-color: #ff7f2f;
        margin-top: -100px;
        position: relative;
        z-index: 12;
        display: flex;
        flex-basis: 200px;
        font-size: 1.4rem;
        color: white;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 2px solid #c84d00;
        box-shadow: -1px 2px 178px -45px rgba(112, 112, 112, 0.86);
        -webkit-box-shadow: -1px 2px 178px -45px rgba(112, 112, 112, 0.86);
        -moz-box-shadow: -1px 2px 178px -45px rgba(112, 112, 112, 0.86);
        text-align: center;
    }

    .budges .budge .icon-wraper {
        background-color: white;
        width: 100px;
        aspect-ratio: 1;
        clip-path: shape(from 97.28% 45.28%, curve to 97.28% 54.72% with 100% 50%, line to 77.72% 88.58%, curve to 69.55% 93.3% with 75% 93.3%, line to 30.45% 93.3%, curve to 22.28% 88.58% with 25% 93.3%, line to 2.72% 54.72%, curve to 2.72% 45.28% with 0% 50%, line to 22.28% 11.42%, curve to 30.45% 6.7% with 25% 6.7%, line to 69.55% 6.7%, curve to 77.72% 11.42% with 75% 6.7%);
        position: relative;
        flex-shrink: 0;
    }

    .budges .budge > * {
        margin: 0px;
    }

}


// GREEK MENU FIX
@media (min-width:1277px) and (max-width:1329px){
    html[lang="el"]{
        .site-header .top-header nav {
            display: flex;
            color: white;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            margin: 0 auto;
        }


        .site-header .bottom-header i {
            font-size: 5rem;
            color: #ff7f2f;
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%) translateX(-15%);
        }

        .main-menu {
            display: flex;
            gap: 0px;
        }

        .site-header .menu-wraper .main-menu .list-item .link-item:link, .site-header .menu-wraper .main-menu .list-item .link-item:visited {
            text-decoration: none;
            text-transform: capitalize;
            color: #818181;
            font-size: 1.8rem;
            padding: 10px 10px;
            transition: all .2s;
            border-radius: 8px;
        }

        .gt_switcher_wrapper {
            position: fixed;
            top: 36px !important;
            right: 2% !important;
            z-index: 999999;
        }

        .site-header .bottom-header .quota {
            display: inline-block;
            color: white;
            background-color: #ff7f2f;
            padding: 10px 10px;
            position: absolute;
            right: 10%;
            top: 50%;
            transform: translateY(-50%) translateX(-15%);
            font-size: 1.4rem;
            text-decoration: none;
            border-radius: 20px;
            transition: all .3s;
        }


    }


}

@media (min-width:1441px) and (max-width:1587px){
    html[lang="el"]{
        .site-header .bottom-header i {
            font-size: 5rem;
            color: #ff7f2f;
            position: absolute;
            left: 8%;
            top: 50%;
            transform: translateY(-50%) translateX(-15%);
        }

        .main-menu {
            display: flex;
            gap: 0;
        }

        .gt_switcher_wrapper {
            position: fixed;
            top: 29px !important;
            right: 0 !important;
            z-index: 999999;
        }

        .site-header .bottom-header .quota {
            display: inline-block;
            color: white;
            background-color: #ff7f2f;
            padding: 10px 30px;
            position: absolute;
            right: 7%;
            top: 50%;
            transform: translateY(-50%) translateX(-15%);
            font-size: 1.4rem;
            text-decoration: none;
            border-radius: 20px;
            transition: all .3s;
        }
    }
}