@media (min-width:1025px) and (max-width: 1440px){
    .cover-video .cover-heading h2 {
        font-size: 5rem;
        width: 80%;
        margin: 0 auto;
        line-height: 79px;
    }

    .budges {
        width: 90%;
        height: 180px;
        margin: 0 auto;
        background-color: #ff7f2f;
        margin-top: -100px;
        position: relative;
        z-index: 12;
        display: flex;
        flex-basis: 200px;
        font-size: 1.4rem;
        color: white;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 2px solid #c84d00;
        box-shadow: -1px 2px 178px -45px rgba(112, 112, 112, 0.86);
        -webkit-box-shadow: -1px 2px 178px -45px rgba(112, 112, 112, 0.86);
        -moz-box-shadow: -1px 2px 178px -45px rgba(112, 112, 112, 0.86);
        text-align: center;
    }

    .about-intro__wraper {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    .services__wraper {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .services__service {
        margin: 20px 10px;
        flex-basis: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e3eefa;
        padding: 10px 20px;
        border-radius: 1.2rem;
        transition: all .3s;
    }

    .blog-hm__grid {
        display: grid;
        width: 90%;
        margin: 4rem auto 4rem auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 180px 180px;
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        align-items: start;
        text-align: left;
    }

    .call-to-action {
        height: 300px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../imgs/call-to-action.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
    }

    .contact .contact-wraper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        width: 85%;
        margin: 40px auto;
    }
}