
.site-header{
    // height: 40px;
    background-color: rgba(207, 9, 3, 0.72);


    // .top-bar{
    //     height: 100px;
    //     background-color: rgb(29, 29, 29);
    // }

    .main-menu{

        display: flex;
        list-style: none;
        justify-content: center;
        margin: 0;
        // border-bottom:2px solid orangered;;
        .list-item{

            margin: 30px;

            .link-item:link,.link-item:visited{
                text-decoration: none;
                color: white;
                font-size:2rem;
                transition: all .3s;


            }

            .link-item{
                &:hover{
                    color: rgb(255, 115, 0);
                }
            }
        }


    }
}

