@media (min-width:501px) and (max-width: 768px) {
    .blog-cover {
        height: 400px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/blog-cover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        top: 117px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .blog-cover h1 {
        font-size: 5rem;
        color: white;
    }

    .blog-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .blog-grid-left, .blog-grid-right {
        display: none;
    }

    .post-card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        transition: transform .8s, background-color .8s, color .8s;
        border-radius: 8px;
        flex-direction: column;
    }

    .post-card .post-img {
        height: 400px;
        width: 80%;
        /* margin-right: 15px; */
        border-radius: 8px;
        margin: 0;
    }

    .post-card__content {
        width: 80%;
    }
}