
@media (min-width:501px) and (max-width: 768px) {
    .site-header .top-header{
        height: unset;
        background-color: #2f9aff;
        display: flex;
        align-items: center;
        position: relative;
    }

    

    .site-header .top-header nav {
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
        flex-direction: column;
        padding: 5.5px 0;
        text-align: center;

        &>*{
            margin: 5px 0;
        }
    }


    // ubchecked bottom header
    .site-header .bottom-header {
        position: relative;
        background-color: white;
        height: 40px;
    }

    .site-header .menu-wraper{
        position: relative;
        background-color: white;
        // height: 100%;
        label{
            display: inline-block;
            font-size: 25px;
            position: absolute;
            top: 2px;
            left: 6%;

        }

        .main-menu{
            
            visibility: hidden;
            opacity: 0;
            height: 40px;
            transition: height 0.5s ease-out;
        }


        #toggle:checked + .main-menu{
            opacity: 1;
            visibility: visible;
            display: block;
            height: 280px;
            transition: all 0.5s ease-out;
            padding-top: 50px;
            li{
                 margin-left: 40px;
            }
            li:not(:last-of-type){
                margin-bottom: 10px;
               
            }
        }


        
    }

    .site-header .bottom-header i {
        font-size: 3rem;
        color: #ff7f2f;
        position: absolute;
        right: 6%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        left: unset;
    }
    .site-header .bottom-header .quota {
        display: none;
    }
        
    .site-footer .copyright {
        text-align: center;
        font-size: 1.5rem;
        color: white;
        margin: 0;
        width: 80%;
        margin: 0 auto;
    }

}

@media (min-width:501px) and (max-width: 761px){
    .site-header .top-header__left {
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        flex-direction: column;
    }

    .site-header .top-header__left .box:not(:last-of-type) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: none;
    }

    .box.location{
        display: none;
    }

    .site-header .top-header nav > * {
        margin: 0;
    }
} 