
/* Specific adjustment for landscape phone height */
@media screen and (max-height: 480px) and (max-width:768px) {
  
    .cover-video .cover-heading h1 {
        font-size: 4rem;
        margin-bottom: 10px;
    }
    .cover-video .cover-heading h2 {
        font-size: 2.5rem;
        width: 69%;
        margin: 0 auto;
        line-height: 45px;
    }
}


@media screen and (max-height: 480px) and (min-width:762px)and(max-width:768px){
       .cover-video .cover-heading h1 {
        font-size: 4.5rem;
        margin-bottom: 10px;
    }
    .cover-video .cover-heading h2 {
        font-size: 3rem;
        width: 69%;
        margin: 0 auto;
        line-height: 45px;
    }
} 