@media (min-width:769px) and (max-width: 1024px){
   
    .blog-cover {
        height: 400px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/blog-cover.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        top: 121px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .blog-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .blog-grid-left, .blog-grid-right {
        display: none;
    }

    .blog-grid-center{
        width: 100%;
        margin: 0 auto;
    }

    .post-card .post-img {
        height: 200px;
        width: 200px;
        margin-right: 40px;
        border-radius: 8px;
    }
}